.contenido__contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.contenido__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenido__lista > li{
    padding: 1rem 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.contenido__lista > li > p{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-top: .6rem;
}

.imagenesSeries{
    width: 260px;
    height: 180px;
}